extends layout

block content

  h1 ID: #{eventinstance._id}

  p #[strong Title: ]
    a(href=eventinstance.event.url) #{eventinstance.event.title}

  p #[strong Status: ]
    if eventinstance.status=='Available'
      span.text-success #{eventinstance.status}
    else if eventinstance.status=='Full'
      span.text-danger #{eventinstance.status}
    else
      span.text-warning #{eventinstance.status}
