extends layout

block content
    h1 Title: #{event.title}

    p #[strong game: ]
        a(href=event.game.url) #{event.game.name}
    p #[strong Summary:] #{event.description}

    div(style='margin-left:20px;margin-top:20px')
        hr
        if event.status==='Available'
            p.text-success playes = #{users.length} / #{event.max_size}
        else if val.status==='Full'
            p.text-danger event is full
        else
            p.text-warning #{val.status}

    div(style='margin-left:20px;margin-top:20px')
        h2(style='font-size: 1.5rem;') users

        each val in users
            p.user #{val.username}

        else
            p There are no users
    hr

    if event.status==='Available'
        a(href='/user/login') join event