extends layout
block content
  h1= title

  form(method='POST')
    div.form-group(style='display: flex; align-items: center;')
      label(for='title' style='margin-right: 10px;') Title:
      input.w3-input.w3-input-form#title.form-control(type='text' ,placeholder='Name of event' , name='title' required value=(undefined===event ? '' : event.title))
    div.form-group(style='display: flex; align-items: top;')
      label(for='description' style='margin-right: 10px;') Summary:
      textarea.w3-input#description.form-control(placeholder='description' name='description' required)= undefined===event ? '' : event.summary
    div.form-group(style='display: flex; align-items: center;')
      label(for='platform' style='margin-right: 10px;') Platform:
      select.w3-input.w3-input-form#platform.form-control(name='platform', required style= 'max-height:40px; max-width: 100px;')
        option(value='PC') PC
        option(value='PS') PS
        option(value='xbox') Xbox
        option(value='switch') Switch
    div.form-group(style='display: flex; align-items: center;')
      label(style='margin-right: 10px;') game:
        input.w3-input.w3-input-form(type='text', id='category-search', placeholder='Search games...', oninput="filtergames()")
        div#category-list(style='max-height: 200px; overflow-y: auto;')
            for game in games
              div.category-item(style='padding: 5px;')
                input(type='radio', name='game', id=game._id, value=game._id)
                label(for=game._id) &nbsp;#{game.name}
    div.form-group
      label(for='date') Date and Time of Event:
        input.w3-input.w3-input-form#date.form-control(type='datetime-local' name='date' required value=(event && event.date ? event.date.toISOString().slice(0, 16) : '') )

      div.form-group(style='display: flex; align-items: top;')
      label(for='max_size' style='margin-right: 10px;') Maximal participants (including yourself):
        input.w3-input.w3-input-form#max_size.form-control(
          type='number',
          name='max_size',
          value=(event && event.max_size !== undefined ? event.max_size : ""),
          min='1',
          max='40',
          required style='max-width: 60px;'
        )

    button.w3-button.w3-blue.w3-hover-light-blue.w3-round-large(type='submit') Submit


  if errors
    ul
      for error in errors
        li!= error.msg

  script.
    function filtergames() {
      const searchTerm = document.getElementById('category-search').value; //.toLowerCase()
      const categoryItems = document.querySelectorAll('.category-item');

      categoryItems.forEach(function (item) {
        const label = item.querySelector('label');
        const categoryName = label ? label.textContent.trim() : ''; //.toLowerCase()

        if (categoryName.indexOf(searchTerm) === -1) {
          item.style.display = 'none';  // Hide games that don't match
        } else {
          item.style.display = 'block';  // Show games that match
        }
      });
    }

