extends layout
block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Name of event' name='title' required value=(undefined===event ? '' : event.title) )
    div.form-group
      label(for='description') Summary:
      textarea#description.form-control(placeholder='description' name='description' required)= undefined===event ? '' : event.summary
    div.form-group
      label Categorie:
        input(type='text', id='category-search', placeholder='Search categories...', oninput="filterCategories()")
        div#category-list(style='max-height: 200px; overflow-y: auto;')
            for categorie in categories
              div.category-item(style='padding: 5px;')
                input(type='radio', name='categorie', id=categorie._id, value=categorie._id)
                label(for=categorie._id) &nbsp;#{categorie.name}
    div.form-group
      label(for='date') Date of event:
      input#date.form-control(type='date' name='date' value=(undefined === event ? '' : event.date) )

      div.form-group
      label(for='max_size') maximal participants (including yourself):
      input#max_size.form-control(type='number' name='max_size' value=(undefined === event ? '' : event.date) )

    button.btn.btn-primary(type='submit') Submit


  if errors
    ul
      for error in errors
        li!= error.msg

  script.
    function filterCategories() {
      const searchTerm = document.getElementById('category-search').value.toLowerCase();
      const categoryItems = document.querySelectorAll('.category-item');

      categoryItems.forEach(function (item) {
        const label = item.querySelector('label');
        const categoryName = label ? label.textContent.trim().toLowerCase() : '';

        if (categoryName.indexOf(searchTerm) === -1) {
          item.style.display = 'none';  // Hide categories that don't match
        } else {
          item.style.display = 'block';  // Show categories that match
        }
      });
    }

