extends layout

block content
    h1= title
    if event_list.length
        ul
            each event in event_list
                li
                    a(href=event.url) #{event.title}
                        |  (#{event.game.name})
                        if event.status === 'Available'
                            p.text-success (#{event.game.name}) Available = #{event.participants.length} / #{event.max_size}
                        else if event.status === 'Full'
                            p.text-danger (#{event.game.name}) event is full, #{event.participants.length} / #{event.max_size}
                        else
                            p.text-warning #{event.status}

                //p.players = #{event.participants.length} / #{event.max_size}

    else
        p There are no events.
