extends layout

block content
  // Event Title Section
  div.w3-container.w3-padding-32.w3-center
    h1.w3-xxlarge.w3-text-white(style='white-space: normal; overflow: hidden; text-overflow: ellipsis;') #{event.title}

  // Game and Description Section
  div.w3-container.w3-padding-16
    p.w3-large
      strong Game:
      span(style='margin-left: 10px;')
      a.w3-text-blue.w3-hover-text-light-blue(href=event.game.url) #{event.game.name}
    p.w3-large
      strong Summary:
      span(style='margin-left: 10px;') #{event.description}
    p.w3-large
      strong Date:
      span(style='margin-left: 10px;')
        if event.date
          | #{event.date.toDateString()} #{event.date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}
        else
          | Not specified
    p.w3-large
      strong Platform:
      span(style='margin-left: 10px;') #{event.platform}

  // Event Status Section
  div.w3-container.w3-padding-16
    hr
    if event.status === 'Available'
      p.w3-text-green.w3-large Players: #{users.length} / #{event.max_size}
    else if event.status === 'Full'
      p.w3-text-red.w3-large This event is full.
    else
      p.w3-text-orange.w3-large Status: #{event.status}

    // User List Section
    div.w3-container.w3-padding-16
      h2.w3-large.w3-text-white Users
      if users && users.length
        div.w3-row-padding
          each val in users
            div.w3-third.w3-padding-small
              div.w3-card.w3-white.w3-padding.w3-center
                span.w3-text-black #{val.username}
      else
        p.w3-text-gray No users have joined this event yet.
      hr

  // Join Event Section
  if event.status === 'Available' && new Date(event.date) > new Date()
    div.w3-container.w3-padding-16.w3-center
      a.w3-button.w3-blue.w3-hover-light-blue.w3-round-large(href='/user/login') Join Event

  style.
    @media only screen and (max-width: 600px) {
      .w3-container .w3-button {
        display: block;
        margin: 0 auto;
        width: 50vw;
        text-align: center;
      }
    }
