extends layout

block content
  h1 All Events

  div.w3-margin-bottom
    input.w3-input.w3-border.w3-round(type='text', placeholder='Search events...', id='search-bar')

  if event_list && event_list.length
    ul(style='list-style-type:none;')
      each event in event_list
        li.w3-padding-16(style='font-size: 1.2rem;')
          a(href=event.url, class='w3-text-blue w3-hover-text-light-blue', style='font-size: 1.5rem;' ) #{event.title}
          p Game: #{event.game.name}
          if event.status === 'Available'
            p.w3-text-green Available: #{event.participants.length} / #{event.max_size}
          else if event.status === 'Full'
            p.w3-text-red Full: #{event.participants.length} / #{event.max_size}
          else
            p.w3-text-orange #{event.status}
  else
    p.w3-text-gray No events found.

  script.
    document.getElementById('search-bar').addEventListener('input', function () {
        const query = this.value.toLowerCase();
        const events = document.querySelectorAll('ul > li');
        events.forEach(event => {
            const title = event.querySelector('a').textContent.toLowerCase();
            if (title.includes(query)) {
                event.style.display = '';
            } else {
                event.style.display = 'none';
            }
        });
    });