extends layout

block content
    h1 Title: #{event.title}

    p #[strong categorie: ]
        a(href=event.categorie.url) #{event.categorie.name}
    p #[strong Summary:] #{event.description}

    div(style='margin-left:20px;margin-top:20px')
        hr
        if status_event==='Available'
            p.text-success playes = #{users.length} / #{max_size}
        else if status_event==='Full'
            p.text-danger event is full
        else
            p.text-warning #{status_event}

    div(style='margin-left:20px;margin-top:20px')
        h2(style='font-size: 1.5rem;') users

        each val in users
            p.user #{val.username}

        else
            p There are no users
    hr
    p
    if event.organizer.equals(user._id)
        p
            a(href=event.url + '/delete') Delete event
        p
            a(href=event.url + '/update') Edit event
    else
        for user1 in users
            if user1._id.equals(user._id)
                a(href=event.url + '/leave') Leave event

    p
    if status_event === "Available"
        a(href=event.url + '/join') join event