extends layout

block content
  // Event Title Section
  div.w3-container.w3-padding-32.w3-center
    h1.w3-xxlarge.w3-text-white(style='white-space: normal; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis;') #{event.title}

  // Game and Description Section
  div.w3-container.w3-padding-16
    p.w3-large
      strong Game:
      span(style='margin-left: 10px;')
      a.w3-text-blue.w3-hover-text-light-blue(href=event.game.url) #{event.game.name}
    p.w3-large
      strong Summary:
      span(style='margin-left: 10px; white-space: normal; word-wrap: break-word;') #{event.description}
    p.w3-large
      strong Date:
      span(style='margin-left: 10px;')
        if date
          | #{date.toDateString()} #{date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}
        else
          | Not specified
    p.w3-large
      strong Platform:
      span(style='margin-left: 10px;') #{event.platform}

  // Event Status Section
  div.w3-container.w3-padding-16
    hr
    if status_event === 'Available'
      p.w3-text-green.w3-large Players: #{users.length} / #{max_size}
    else if status_event === 'Full'
      p.w3-text-red.w3-large This event is full
    else
      p.w3-text-orange.w3-large Status: #{status_event}

  // User List Section
  div.w3-container.w3-padding-16
    h2.w3-large.w3-text-white Users
    if user
    if users && users.length
      div.w3-row-padding
        each val in users
          div.w3-third.w3-padding-small
            div.w3-card.w3-white.w3-padding.w3-center
              a.w3-text-black(href=`/user/profile/${val._id}`) #{val.username}
              //span.w3-text-black #{val.username}  //!val._id.equals(user._id)
              if event.organizer.equals(user._id) && !val._id.equals(user._id)
                form(action=`${event.url}/kick/${val._id}` method='POST' style='display: inline;')
                  button(type='submit' class='kick-icon' style='background: none; border: none; cursor: pointer;')
                    i.fa.fa-times-circle(style='color: red; margin-left: 10px;')

    else
      p.w3-text-gray There are no users
    hr

  if error
    div.w3-container.w3-padding-16
      h2.w3-large.w3-text-red #{error}

  // Organizer Actions   // event.organizer.equals(user._id)
  if event.organizer && event.organizer.equals(user._id)
    div.w3-container.w3-padding-16
      p
        a.w3-button.w3-red.w3-hover-pink.w3-round-large(href=event.url + '/delete') Delete Event
      p
        a.w3-button.w3-orange.w3-hover-yellow.w3-round-large(href=event.url + '/update') Edit Event
  else
    // User Participation Section   //users.some(user1 => user1._id.equals(user._id))
    if (participant)
      div.w3-container.w3-padding-16
        form(action=`${event.url}/leave` method='POST' style='display: inline;')
          button(type='submit' class='w3-button w3-red w3-hover-light-pink w3-round-large' style='background: none; border: none; cursor: pointer;')
            | leave Event
    else if status_event === 'Available' && new Date(event.date) > new Date()
      div.w3-container.w3-padding-16
        form(action=`${event.url}/join` method='POST' style='display: inline;')
          button(type='submit' class='w3-button w3-blue w3-hover-light-blue w3-round-large' style='background: none; border: none; cursor: pointer;')
            | Join Event
  style.
    @media only screen and (max-width: 600px) {
      .w3-container .w3-button {
        display: block;
        margin: 0 auto;
        width: 50vw;
        text-align: center;
      }
    }