extends layout

block content
  h1= title
  if game
    h2 game: #{game.name}
    if game_events.length
      h3 Open Events:
      ul
        each event in game_events
          li
            a(href=event.url) event : #{event.title}
            p Available slots:   #{event.participants.length} / #{event.max_size}
    else
      p No open events in this category.
  else
    p game not found.