extends layout

block content
  if game
    h1 #{game.name}
    if game_events.length
      h2 Open Events:
      ul(class='w3-ul w3-border w3-white')
        each event in game_events
          li(class='w3-padding')
            a(href=event.url)
              i(class='fa fa-gamepad')
              |  Event: #{event.title}
            if event.status === 'Available'
              p.w3-text-green Available: #{event.participants.length} / #{event.max_size}
            else if event.status === 'Full'
              p.w3-text-red Full: #{event.participants.length} / #{event.max_size}
            else
              p.w3-text-orange #{event.status}
    else
      p No open events in this category.
  else
    p Game not found.