extends layout

block content
    style.
        .profile-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            text-align: center;
            background-color: #333;
            border-radius: 10px;
            max-width: 600px; /* Set a maximum width */
            margin: 20px auto; /* Center the container */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid white;
            margin-bottom: 20px;
        }



        ul {
            padding: 0;
            margin: 10px 0;
            list-style-type: none;
        }

        li {
            margin: 5px 0;
            white-space: nowrap;
        }

        .event-link {
            color: #4f9afa;
            text-decoration: none;
            font-weight: bold;
            padding-left: 10px;
            padding-right: 10px;
        }

        .error-message {
            color: red;
            font-size: 1.2em;
        }

        .edit-profile-button {
            margin-top: 20px;
        }

        .event-list {
            max-height: 300px; /* Limit the height */
            overflow-y: auto; /* Enable vertical scrolling */
        }


        @media only screen and (max-width: 600px) {
            .profile-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 80vh; /* Full viewport height to center vertically */
                max-width: 90%; /* Full width on smaller screens */
                margin: 60px auto;
            }

            .profile-picture {
                width: 100px;
                height: 100px;
            }

            .event-link {
                font-size: 0.9em; /* Adjust font size for smaller screens */
            }

            .event-list {
                margin: 10px;
                padding: 0;
                list-style-type: none;
                max-height: 300px; /* Limit the height */
                overflow-y: auto; /* Enable vertical scrolling */
            }


            .edit-profile-button {
                font-size: 0.9em; /* Adjust button font size for smaller screens */
                padding: 0.5rem 1rem; /* Adjust button padding for smaller screens */
            }
        }

    .profile-container
        if user.profilePicture
            img(src=`data:image/png;base64,${user.profilePicture.toString('base64')}`, alt='Profile Picture', class='profile-picture')
        else
            img(src='/images/default.png', alt='Default Profile Picture', class='profile-picture')

        if user
            .user-info
                h2 Username: #{user.username}
                h3 Email: #{user.email}
                h3 Events: #{numEvents}
                ul.event-list
                    each event in user.events
                        li
                            a(href=event.url, class='event-link') #{event.title}
            if !visitor
                a.w3-button.w3-blue.w3-hover-light-blue.w3-round-large(href='/user/profile/edit', style='margin-top: 20px;') Edit Profile
        else
            .error-message
                p User not found.
